<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!-- css libs -->
    <link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />

    <!-- demo page styles -->
    <link href="/js/jplist/free-pagination-bundle/css/vendor/normalize.css" rel="stylesheet" type="text/css" />
    <link href="/js/jplist/free-pagination-bundle/css/styles.min.css" rel="stylesheet" type="text/css" />
    <link href="/js/jplist/free-pagination-bundle/css/jplist-demo-pages.min.css" rel="stylesheet" type="text/css" />

    <!-- jQuery lib -->
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="/js/jplist/jplist-core.min.css">
    <link href="/js/jplist/free-pagination-bundle/css/jplist-pagination-bundle.min.css" rel="stylesheet" type="text/css" />
    <!-- textbox filter control -->
    <link href="/js/jplist/textbox-filter/css/jplist-textbox-control.min.css" rel="stylesheet" type="text/css" />
    <!-- jplist views control -->
    <link href="/js/jplist/list-grid-view/css/jplist-views-control.min.css" rel="stylesheet" type="text/css" />
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jplist-core.js"></script>
    <script src="/js/dependencies/uncompressed/app/dto/status-dto.js"></script>
    <script src="/js/dependencies/uncompressed/app/dto/statuses-dto-collection.js"></script>
    <script src="/js/dependencies/uncompressed/app/events/pubsub.js"></script>
    <script src="/js/dependencies/uncompressed/app/history.js"></script>
    <script src="/js/dependencies/uncompressed/app/services/dto-mapper.js"></script>
    <script src="/js/dependencies/uncompressed/app/services/log.js"></script>
    <script src="/js/dependencies/uncompressed/dal/services/cookies.js"></script>
    <script src="/js/dependencies/uncompressed/dal/services/localstorage.js"></script>
    <script src="/js/dependencies/uncompressed/dal/services/uri.js"></script>
    <script src="/js/dependencies/uncompressed/dal/storage.js"></script>
    <script src="/js/dependencies/uncompressed/domain/deeplinks/services/deeplinks.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/collections/dataitem-member-paths.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/collections/dataitems.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/models/dataitem-member-path.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/models/dataitem-member.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/models/dataitem.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/autocompleteFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/dateFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/dateRangeFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/invertedPathFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/pagerFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/pathFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/pathGroupFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/rangeFilter.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/text-filters/advanced-search.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/text-filters/text-filter-by-path.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/text-filters/text-filter-group-by-path-logic.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/filters/text-filters/text-filter-group-by-path.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/helper.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/pagination/pagination-google.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/pagination/pagination.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/sort/datetime.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/sort/doubleSort.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/sort/numbers.js"></script>
    <script src="/js/dependencies/uncompressed/domain/dom/services/sort/text.js"></script>
    <script src="/js/dependencies/uncompressed/domain/server/models/dataitem.js"></script>
    <script src="/js/dependencies/uncompressed/license.js"></script>
    <script src="/js/dependencies/uncompressed/ui/animation/animation.js"></script>
    <script src="/js/dependencies/uncompressed/ui/animation/effects/fade.js"></script>
    <script src="/js/dependencies/uncompressed/ui/animation/timeline.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/dom/dom-controller.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/dom/dom-view.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/item-controls/control-factory.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/item-controls/controls-collection.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/server/server-controller.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/server/server-model.js"></script>
    <script src="/js/dependencies/uncompressed/ui/list/server/server-view.js"></script>
    <script src="/js/dependencies/uncompressed/ui/panel/control-factory.js"></script>
    <script src="/js/dependencies/uncompressed/ui/panel/controls-collection.js"></script>
    <script src="/js/dependencies/uncompressed/ui/panel/controls/dropdown/dropdown-view.js"></script>
    <script src="/js/dependencies/uncompressed/ui/panel/panel-controller.js"></script>
    <script src="/js/jplist/filter-dropdown-bundle/js/jplist.filter-dropdown-bundle.min.js"></script>
    <script src="/js/jplist/free-pagination-bundle/js/jplist.pagination-bundle.min.js"></script>
    <script src="/js/jplist/list-grid-view/js/jplist.filter-toggle-bundle.min.js"></script>
    <script src="/js/jplist/list-grid-view/js/jplist.views-control.min.js"></script>
    <script src="/js/jplist/textbox-filter/js/jplist.textbox-control.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
